# Ignore bundler config.
/.bundle

# Ignore all environment files.
/.env*

# Ignore all logfiles.
/log/*
!/log/.keep

# Ignore storage (uploaded files).
/storage/*
!/storage/.keep

# Ignore tempfiles (The Docker-safe way)
/tmp/db/
/tmp/pids/
/tmp/storage/
/tmp/*